<div class="container text-center mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h1 class="display-4 text-danger">404</h1>
            <h2 class="mb-4">Página no encontrada</h2>
            <p class="lead">Lo sentimos, pero la página que estás buscando no existe.</p>
            <a [routerLink]="['/']" class="btn btn-primary btn-lg mt-3">Volver a la página de inicio</a>
          </div>
        </div>
      </div>
    </div>
  </div>