<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-lg border-0">
          <div class="card-body p-5">
            <h2 class="card-title text-center mb-4" style="color: #ee5197;">Comprá fácil, cómodo y rápido</h2>
            <p>Si es la primera vez que ingresas a nuestra página podes registrarte de diferentes fromas: con tu cuenta de Gmail o Facebook, o por mail y contraseña.</p>
            <p class="alert alert-success mt-4" role="alert">Luego podrás elegir entre cualquiera de nuestros productos disponibles, y agregarlos al carrito de compras. </p>
          </div>
        </div>
      </div>
    </div>
</div>