<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow-lg border-0">
          <div class="card-body p-5">
            <h2 class="card-title text-center mb-4" style="color: #ee5197;">Contacto</h2>
            <h3>WhatsApp</h3>
            <p>12345678</p>
            <h3>Direccion</h3>
            <p>Sucursal Pepito 1234,<br>Tandil, Buenos Aires.</p>
            <h3>E-mail</h3>
            <p>candyShop©tiendaGolosinasOnline</p>
          </div>
        </div>
      </div>
    </div>
</div>