/* You can add global styles to this file, and also import other style files */

h1 {
    color:  #ff8dc0;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
    padding: 20px;
    font-family: sans-serif;
  }
  